.calendar {
  display: grid;
  grid-template-columns: repeat(
    auto-fit,
    minmax(20rem, 1fr)
  ); /* sets number of columns automatically */
  gap: var(--spacing-2xl);
  padding: var(--spacing-3xl);
  width: 100%;
}

.calendarDay {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding: var(--spacing-xl);
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius);
}

.score {
  color: black;
  font-weight: bold;
  padding: var(--spacing-2xs);
}

.descriptionList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding-left: var(--spacing-xs);
}

.red {
  color: #dd5555;
}

.orange {
  color: #dd9955;
}

.yellow {
  color: #dddd55;
}

.lightGreen {
  color: #99dd55;
}

.strongGreen {
  color: #55dd55;
}
