.calendar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing-xl);
  width: 100%;
}

.calendarDay {
  background: var(--background-color-panel);
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: var(--spacing-l);
  height: 100%;
}

.score {
  color: black;
  font-weight: bold;
  padding: var(--spacing-xxs);
}

.descriptionList {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  padding-left: var(--spacing-xs);
}

.red {
  color: #ff0000;
}

.orange {
  color: #ffa700;
}

.yellow {
  color: #fff400;
}

.lightGreen {
  color: #a3ff00;
}

.strongGreen {
  color: #2cba00;
}
