.helpTextContainer {
  text-align: center;
}

.sliderContainer {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-2xs);
}

.red {
  color: #dd5555;
}

.orange {
  color: #dd9955;
}

.yellow {
  color: #dddd55;
}

.lightGreen {
  color: #99dd55;
}

.strongGreen {
  color: #55dd55;
}
