.dialog {
  margin: auto auto;
  background-color: var(--background-color-cards);
  color: white;
  min-width: 25%;
  padding: var(--spacing-2xl);
  border: var(--border);
  border-radius: var(--border-radius);
}

.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
}

.heading {
  margin-bottom: var(--spacing-m);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-l);
  gap: var(--spacing-m);
}
