.mainContent {
  height: 100%;
  display: flex;
  background: var(--background-color);
  padding-inline: var(--spacing-standard);
  padding-block: var(--spacing-large);
  gap: var(--spacing-large);
}
