.memberListContainer {
  display: flex;
  flex-direction: column;
  background: var(--background-color-panel);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: var(--spacing-standard);
  gap: var(--spacing-standard);
}
