.button {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  border: 0;
  border-radius: var(--border-radius);
  padding: var(--spacing-m);
  transition: 0.1s;
}
