.memberForm {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.formField {
    display: flex;
    flex-direction: column;
}

.submitButton {
    padding: var(--padding-button);
}