:root {
  --background-gradient-panel: linear-gradient(0deg, #111111 50%, #151515);
  --background-gradient-modal: linear-gradient(0deg, #222222 50%, #252525);
  --background-color: #000;
  --text-color: #fff;
  --border: 1px solid #a1a1a1;
  --border-radius: 0.25rem;
  --box-shadow: #000 0 0 1rem;
  --spacing-xl: 2rem;
  --spacing-l: 1.5rem;
  --spacing-m: 1rem;
  --spacing-s: 0.75rem;
  --spacing-xs: 0.5rem;
  --spacing-xxs: 0.25rem;
}

* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

dialog {
  margin: auto auto;
  background-image: var(--background-gradient-modal);
  color: white;
  min-width: 25%;
  padding: var(--spacing-xl);
  border: var(--border);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.33rem;
}

h4 {
  font-size: 1.25rem;
}

h5 {
  font-size: 1.15rem;
}

h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}
