.form {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-small);
}

.heading {
  margin-bottom: var(--spacing-medium);
}

.buttonGroup {
  display: flex;
  flex-direction: column;
  margin-top: var(--spacing-large);
  gap: var(--spacing-medium);
}

.button {
  padding: var(--spacing-small);
}
