body {
  --accent-color: #e67d1c;
  --background-color: #1e2b3c;
  --text-color: #fff;
  --border: 1px solid #fff;
  --padding: 1rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  color: var(--text-color);
}

* {
  padding: 0;
  margin: 0;
  font-size: 1.25rem;
}

li {
  margin-left: 1.25rem;
}

input {
  margin-bottom: 0.5rem;
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2.25rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.75rem;
}

h5 {
  font-size: 1.5rem;
}

h6 {
  font-size: 1.25rem;
}

p {
  font-size: 1.25rem;
  padding-bottom: 0.5rem;
}
