body {
  --accent-color: #e67d1c;
  --background-color: #1e2b3c;
  --text-color: #fff;
  --border: 1px solid #fff;
  --padding-large: 1rem;
  --padding-small: 0.5rem;

  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  color: var(--text-color);
  padding: 0;
  margin: 0;
}
