.participantListContainer {
  display: flex;
  flex-direction: column;
  min-width: 15%;
  background-color: var(--background-color-cards);
  border-radius: var(--border-radius);
  padding: var(--spacing-l);
  gap: var(--spacing-l);
}
