.participantListContainer {
  display: flex;
  flex-direction: column;
  min-width: 15%;
  background-image: var(--background-gradient-panel);
  border-radius: var(--border-radius);
  border: var(--border);
  padding: var(--spacing-l);
  gap: var(--spacing-l);
}
